.banner {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    rgb(7, 123, 201),
    rgb(63, 158, 202),
    rgb(113, 185, 218)
  );

  height: 100vh;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.heading {
  text-align: center;
}
.heading h1 {
  margin: 40px;
}
.button {
  text-align: center;
  font-size: 25px;
}
.button-container {
  width: 20%;
  border-radius: 50px;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.button-container:hover {
  border: 2px solid black;
}
@media (max-width: 480px) {
  .button-container {
    width: 15%;
    /* border-radius: 45px; */
  }
  .button {
    text-align: center;
    font-size: 18px;
  }
  .heading {
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .button-container {
    width: 12%;
    /* border-radius: 45px; */
  }
  .button {
    text-align: center;
    font-size: 15px;
  }
  .heading {
    text-align: center;
    font-size: 22px;
  }
}
@media (max-width: 340px) {
  .button-container {
    width: 10%;
    border-radius: 40px;
  }
  .button {
    text-align: center;
    font-size: 10px;
  }
  .heading {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 260px) {
  .button-container {
    width: 7%;
    border-radius: 40px;
  }
  .button {
    text-align: center;
    font-size: 7px;
  }
  .heading {
    text-align: center;
    font-size: 16px;
  }
}
